body {
    background-color: #222;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    margin: 20px auto;
    max-width: 500px;
    background-color: #333;
    padding: 10px;
  }
  
  .cell {
    background-image: url("images/cell.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  